body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
.bottom-line {
  margin-left: 5px;
  border-bottom: 1px $almost-black solid;
}

.c-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px $lighter-gray solid;
  padding: 0 15px;
  &:focus, &:active, &:hover {
    border: 1px $theme-orange solid;
  }
}
.c-other-input {
  height: 40px;
  border-radius: 4px;
  border: 1px $lighter-gray solid;
  padding: 0 15px;
  &:focus, &:active, &:hover {
    border: 1px $theme-orange solid;
  }
}
.error-message {
  color: $theme-red;
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}

.filter-container {
  margin: 0 20px 20px 10px;
  display: flex;
}

.table, .el-table {
  color: black;
  border-left: 1px solid $dark-gray;
  border-right: 1px solid $dark-gray;
  border-bottom: 1px solid $dark-gray;
  th {
    width: 200px;
    text-align: center;
    border-right: 1px solid $dark-gray;
    border-top: 1px solid $dark-gray;
  }
  td {
    border-right: 1px solid $dark-gray;
    border-top: 1px solid $dark-gray;
    width: 200px;
  }
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.dialog-user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: block;
  margin: auto;
}