@import '~bootstrap/scss/bootstrap';
@import 'variables';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './override-bootstrap';
@import './override-custom-libs';
@import '~pretty-checkbox/src/pretty-checkbox.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}

.filter-container {
  margin: 0 20px 20px 10px;
  display: flex;
}

.table {
  border: 1px solid black;
  th {
    width: 200px;
    text-align: center;
    border: 1px solid black;
  }
  td {
    border: 1px solid black;
    width: 200px;
  }
}
.el-checkbox, .el-radio {
  margin-left: 10px;
  
}
.el-checkbox+.el-checkbox, .el-radio+.el-radio {
  margin-left: 10px;
}